.subject-form {
  .subject-icon-field {
    padding: 0.4375em 0;
    border-top: 0.84375em solid transparent;

    .subject-icon-select {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-content: center;

      ::ng-deep .element {
        height: 65px;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 50%;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
          0px 2px 2px 0px rgba(0, 0, 0, 0.14),
          0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        .subject-icon {
          display: block;
          padding: 15px;
          height: 40px;
          border-radius: 50%;

          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
