<div class="page-content__header">
  <div class="page-content__title-section">
    <div class="mat-h2">Adult members payments percentages</div>
    <div class="mat-caption">
      Set payment percentages for members if some of them are not paying equally
    </div>
  </div>
  <a
    class="info-link"
    mat-icon-button
    routerLink="/articles/member-payment-percentage"
  >
    <mat-icon>info</mat-icon>
  </a>
</div>
<ng-container *ngIf="adultMembers; else loading">
  <form [formGroup]="paymentsPercentages">
    <div formArrayName="paymentsPercentages" fxLayout="row wrap">
      <member-payment-percentage
        class="member-payment-percentage"
        *ngFor="
          let paymentPercentage of paymentsPercentagesList.controls;
          let i = index;
          trackBy: trackByFn
        "
        [adultMemberPercentageForm]="paymentPercentage"
        [adultMember]="adultMembers[i]"
      >
      </member-payment-percentage>
    </div>
    <shared-notification-message
      type="error"
      *ngIf="paymentsPercentagesList.hasError('totalPercentage')"
    >
      Values should add up to 100%
    </shared-notification-message>
  </form>
</ng-container>

<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>
