@import 'theme';

.page-content__header {
  background-color: mat-color($angular-material-accent, lighter);
}

.page-content__title-section {
  flex: 1;
}

.page-content__header .mat-h2 {
  margin-bottom: 0;
}

.info-link {
  display: block;
}

.member-payment-percentage {
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}
.member-payment-percentage:last-child {
  margin-right: 0;
}
