@import "theme";
@import "variables";
@import "colors-classes";
@import "classes";
@import "buttons";
@import "cards";

body,
html {
  margin: 0;
  //font-family: $main-font-family;
  height: 100%;
}

.mat-form-field {
  width: 100%;
}
