@import 'theme';
@import 'variables';
@import 'colors-classes';
@import 'classes';
@import 'buttons';
@import 'cards';
@import 'mm-badge';

body,
html {
  margin: 0;
  height: 100%;
}

.mat-form-field {
  width: 100%;
}
