@import 'theme';
@import 'variables';
@import 'colors-classes';
@import 'classes';
@import 'buttons';
@import 'cards';
@import 'mm-badge';

body,
html {
  margin: 0;
  height: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

a {
  color: #1a18ca;
}

.mat-menu-panel {
  border-radius: 10px !important;
  min-width: 200px !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-menu-item {
  font-weight: bold !important;
  padding: 0 16px !important;
  border-bottom: 1px solid rgba(mat-color($angular-material-primary, 100), 0.3) !important;
}

.mat-menu-item:last-child {
  border-bottom: none !important;
}

.mat-menu-item .mat-icon {
  margin-right: 8px !important;
}

.cdk-overlay-pane {
  overflow: auto;
}
