@import "variables";
.form-field {
  font-family: $main-font-family;

  &.form-field-invalid {
    .subject-label-icon {
      color: #f44336;
    }
  }

  label {
    font-weight: 400;
    line-height: 1.125;
    color: rgba(0, 0, 0, 0.54);
    display: block;
    width: 100%;
    transform-origin: 0;
    transform: scale(0.75);
  }
}
