<div class="payments" fxLayout="column" fxLayoutAlign="center start">
  <div class="page-content__header">
    <div class="mat-h1">Payments</div>
    <button
      [paymentNewPayment]="familyId | async"
      class="button button_lg"
      mat-raised-button
      color="primary"
    >
      New payment
    </button>
  </div>
  <payment-user-payment-list [payments]="payments | async">
  </payment-user-payment-list>
  <payment-user-payments-calculated-per-member
    class="payments-calculated-per-member"
    [payments]="payments | async"
  ></payment-user-payments-calculated-per-member>
</div>
