<div class="payments" fxLayout="column" fxLayoutAlign="center start">
  <div class="page-content__header">
    <div class="mat-h1">My payments</div>
    <button
      paymentNewPayment
      class="button button_lg"
      mat-raised-button
      color="primary"
    >
      New payment
    </button>
  </div>

  <ng-template
    let-paymentsList="paymentsList"
    [ngTemplateOutletContext]="{ paymentsList: payments | async }"
    [ngTemplateOutlet]="paymentsListTemplate"
    #paymentsListTemplate
  >
    <payment-user-payment-list [payments]="paymentsList">
    </payment-user-payment-list>
    <payment-user-payments-calculated-per-member
      *ngIf="paymentsList?.length"
      class="payments-calculated-per-member"
      [payments]="paymentsList"
    ></payment-user-payments-calculated-per-member>
  </ng-template>
</div>
