<mat-list-item role="listitem" class="nav-item">
  <mat-list-item role="listitem" class="nav-item">
    <a
      [routerLink]="['/auth/register']"
      routerLinkActive="nav-block__link_active"
      mat-button
      class="mat-button_stretched mat-button_text-white"
    >
      Sin Up Free
    </a> </mat-list-item
  ><mat-list-item role="listitem" class="nav-item">
    <a
      [routerLink]="['/auth/login']"
      routerLinkActive="nav-block__link_active"
      mat-button
      class="mat-button_stretched mat-button_text-white"
    >
      Log In
    </a>
  </mat-list-item>
</mat-list-item>
