<mat-form-field appearance="outline">
  <mat-label>Family currency</mat-label>
  <mat-select [formControl]="currencyControl" required>
    <mat-option value="USD">
      United States Dollars ({{ 'USD' | currencySymbol }})
    </mat-option>
    <mat-option value="EUR">Euro ({{ 'EUR' | currencySymbol }})</mat-option>
    <mat-option value="GBP">
      United Kingdom Pounds ({{ 'GBP' | currencySymbol }})
    </mat-option>
    <mat-option value="DZD">
      Algeria Dinars ({{ 'DZD' | currencySymbol }})
    </mat-option>
    <mat-option value="ARP">
      Argentina Pesos ({{ 'ARP' | currencySymbol }})
    </mat-option>
    <mat-option value="AUD">
      Australia Dollars ({{ 'AUD' | currencySymbol }})
    </mat-option>
    <mat-option value="ATS"
      >Austria Schillings ({{ 'ATS' | currencySymbol }})
    </mat-option>
    <mat-option value="BSD">
      Bahamas Dollars ({{ 'BSD' | currencySymbol }})
    </mat-option>
    <mat-option value="BBD">
      Barbados Dollars ({{ 'BBD' | currencySymbol }})
    </mat-option>
    <mat-option value="BEF">
      Belgium Francs ({{ 'BEF' | currencySymbol }})
    </mat-option>
    <mat-option value="BMD">
      Bermuda Dollars ({{ 'EUR' | currencySymbol }})
    </mat-option>
    <mat-option value="BRR">
      Brazil Real ({{ 'BRR' | currencySymbol }})
    </mat-option>
    <mat-option value="BGL">
      Bulgaria Lev ({{ 'BGL' | currencySymbol }})
    </mat-option>
    <mat-option value="CAD">
      Canada Dollars ({{ 'CAD' | currencySymbol }})
    </mat-option>
    <mat-option value="CLP">
      Chile Pesos ({{ 'CLP' | currencySymbol }})
    </mat-option>
    <mat-option value="CNY">
      China Yuan Renmimbi ({{ 'CNY' | currencySymbol }})
    </mat-option>
    <mat-option value="CYP">
      Cyprus Pounds ({{ 'CYP' | currencySymbol }})
    </mat-option>
    <mat-option value="CSK">
      Czech Republic Koruna ({{ 'CSK' | currencySymbol }})
    </mat-option>
    <mat-option value="DKK">
      Denmark Kroner ({{ 'DKK' | currencySymbol }})
    </mat-option>
    <mat-option value="NLG">
      Dutch Guilders ({{ 'NLG' | currencySymbol }})
    </mat-option>
    <mat-option value="XCD">
      Eastern Caribbean Dollars ({{ 'XCD' | currencySymbol }})
    </mat-option>
    <mat-option value="EGP">
      Egypt Pounds ({{ 'EGP' | currencySymbol }})
    </mat-option>
    <mat-option value="FJD"
      >Fiji Dollars ({{ 'FJD' | currencySymbol }})
    </mat-option>
    <mat-option value="FIM">
      Finland Markka ({{ 'FIM' | currencySymbol }})
    </mat-option>
    <mat-option value="FRF">
      France Francs ({{ 'FRF' | currencySymbol }})
    </mat-option>
    <mat-option value="DEM">
      Germany Deutsche Marks ({{ 'DEM' | currencySymbol }})
    </mat-option>
    <mat-option value="XAU">
      Gold Ounces ({{ 'XAU' | currencySymbol }})
    </mat-option>
    <mat-option value="GRD"
      >Greece Drachmas ({{ 'GRD' | currencySymbol }})
    </mat-option>
    <mat-option value="HKD">
      Hong Kong Dollars ({{ 'HKD' | currencySymbol }})
    </mat-option>
    <mat-option value="HUF">
      Hungary Forint ({{ 'HUF' | currencySymbol }})
    </mat-option>
    <mat-option value="ISK"
      >Iceland Krona ({{ 'ISK' | currencySymbol }})
    </mat-option>
    <mat-option value="INR">
      India Rupees ({{ 'INR' | currencySymbol }})
    </mat-option>
    <mat-option value="IDR">
      Indonesia Rupiah ({{ 'IDR' | currencySymbol }})
    </mat-option>
    <mat-option value="IEP"
      >Ireland Punt ({{ 'IEP' | currencySymbol }})
    </mat-option>
    <mat-option value="ILS">
      Israel New Shekels ({{ 'ILS' | currencySymbol }})
    </mat-option>
    <mat-option value="ITL">
      Italy Lira ({{ 'ITL' | currencySymbol }})
    </mat-option>
    <mat-option value="JMD"
      >Jamaica Dollars ({{ 'JMD' | currencySymbol }})
    </mat-option>
    <mat-option value="JPY">
      Japan Yen ({{ 'JPY' | currencySymbol }})
    </mat-option>
    <mat-option value="JOD">
      Jordan Dinar ({{ 'JOD' | currencySymbol }})
    </mat-option>
    <mat-option value="KRW">
      Korea (South) Won ({{ 'KRW' | currencySymbol }})
    </mat-option>
    <mat-option value="LBP">
      Lebanon Pounds ({{ 'LBP' | currencySymbol }})
    </mat-option>
    <mat-option value="LUF">
      Luxembourg Francs ({{ 'LUF' | currencySymbol }})
    </mat-option>
    <mat-option value="MYR">
      Malaysia Ringgit ({{ 'MYR' | currencySymbol }})
    </mat-option>
    <mat-option value="MXP"
      >Mexico Pesos ({{ 'MXP' | currencySymbol }})
    </mat-option>
    <mat-option value="NLG">
      Netherlands Guilders ({{ 'NLG' | currencySymbol }})
    </mat-option>
    <mat-option value="NZD">
      New Zealand Dollars ({{ 'NZD' | currencySymbol }})
    </mat-option>
    <mat-option value="NOK"
      >Norway Kroner ({{ 'NOK' | currencySymbol }})
    </mat-option>
    <mat-option value="PKR">
      Pakistan Rupees ({{ 'PKR' | currencySymbol }})
    </mat-option>
    <mat-option value="XPD"
      >Palladium Ounces ({{ 'XPD' | currencySymbol }})
    </mat-option>
    <mat-option value="PHP"
      >Philippines Pesos ({{ 'PHP' | currencySymbol }})
    </mat-option>
    <mat-option value="XPT">
      Platinum Ounces ({{ 'XPT' | currencySymbol }})
    </mat-option>
    <mat-option value="PLZ">
      Poland Zloty ({{ 'PLZ' | currencySymbol }})
    </mat-option>
    <mat-option value="PTE"
      >Portugal Escudo ({{ 'PTE' | currencySymbol }})
    </mat-option>
    <mat-option value="ROL">
      Romania Leu ({{ 'ROL' | currencySymbol }})
    </mat-option>
    <mat-option value="RUR">
      Russia Rubles ({{ 'RUR' | currencySymbol }})
    </mat-option>
    <mat-option value="SAR">
      Saudi Arabia Riyal ({{ 'SAR' | currencySymbol }})
    </mat-option>
    <mat-option value="XAG">
      Silver Ounces ({{ 'XAG' | currencySymbol }})
    </mat-option>
    <mat-option value="SGD">
      Singapore Dollars ({{ 'SGD' | currencySymbol }})
    </mat-option>
    <mat-option value="SKK"
      >Slovakia Koruna ({{ 'SKK' | currencySymbol }})
    </mat-option>
    <mat-option value="ZAR">
      South Africa Rand ({{ 'ZAR' | currencySymbol }})
    </mat-option>
    <mat-option value="KRW">
      South Korea Won ({{ 'KRW' | currencySymbol }})
    </mat-option>
    <mat-option value="ESP"
      >Spain Pesetas ({{ 'ESP' | currencySymbol }})
    </mat-option>
    <mat-option value="XDR">
      Special Drawing Right (IMF) ({{ 'XDR' | currencySymbol }})
    </mat-option>
    <mat-option value="SDD">
      Sudan Dinar ({{ 'SDD' | currencySymbol }})
    </mat-option>
    <mat-option value="SEK"
      >Sweden Krona ({{ 'SEK' | currencySymbol }})
    </mat-option>
    <mat-option value="CHF">
      Switzerland Francs ({{ 'CHF' | currencySymbol }})
    </mat-option>
    <mat-option value="TWD"
      >Taiwan Dollars ({{ 'TWD' | currencySymbol }})
    </mat-option>
    <mat-option value="THB">
      Thailand Baht ({{ 'THB' | currencySymbol }})
    </mat-option>
    <mat-option value="TTD">
      Trinidad and Tobago Dollars ({{ 'TTD' | currencySymbol }})
    </mat-option>
    <mat-option value="TRL"
      >Turkey Lira ({{ 'TRL' | currencySymbol }})
    </mat-option>
    <mat-option value="VEB"
      >Venezuela Bolivar ({{ 'VEB' | currencySymbol }})
    </mat-option>
    <mat-option value="ZMK">
      Zambia Kwacha ({{ 'ZMK' | currencySymbol }})
    </mat-option>
    <mat-option value="EUR">Euro ({{ 'EUR' | currencySymbol }}) </mat-option>
    <mat-option value="XCD">
      Eastern Caribbean Dollars ({{ 'XCD' | currencySymbol }})
    </mat-option>
    <mat-option value="XDR">
      Special Drawing Right (IMF) ({{ 'XDR' | currencySymbol }})
    </mat-option>
    <mat-option value="XAG">
      Silver Ounces ({{ 'XAG' | currencySymbol }})
    </mat-option>
    <mat-option value="XAU">
      Gold Ounces ({{ 'XAU' | currencySymbol }})
    </mat-option>
    <mat-option value="XPD">
      Palladium Ounces ({{ 'XPD' | currencySymbol }})
    </mat-option>
    <mat-option value="XPT">
      Platinum Ounces ({{ 'XPT' | currencySymbol }})
    </mat-option>
  </mat-select>
  <mat-error *ngIf="currencyControl.hasError('required')">
    Select currency
  </mat-error>
</mat-form-field>
