<ng-container *ngIf="familiesInfo | async as familiesData; else loading">
  <shared-accordion
    *ngFor="let family of familiesData.families"
    [toggleLabel]="family.name"
    [collapsed]="familiesData.currentFamily._id !== family._id"
  >
    <mat-list role="list" class="nav-block__list">
      <mat-list-item role="listitem">
        <a
          mat-button
          class="mat-button_stretched nav-block__link"
          routerLinkActive="nav-block__link_active"
          routerLink="/families/{{ family._id }}/dashboard"
          [routerLinkActiveOptions]="{ exact: true }"
          sharedBadge="Coming soon"
        >
          <div class="menu-item">
            <mat-icon class="menu-item__icon">dashboard</mat-icon>
            <div>Dashboard</div>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a
          mat-button
          class="mat-button_stretched nav-block__link"
          routerLinkActive="nav-block__link_active"
          routerLink="/families/{{ family._id }}/members"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="menu-item">
            <mat-icon class="menu-item__icon">people_alt</mat-icon>
            <div>Family members</div>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a
          mat-button
          class="mat-button_stretched nav-block__link"
          sharedDynamicActiveRouterLink="nav-block__link_active"
          routerLink="/families/{{ family._id }}/payments"
          [linkInstructions]="['/families/', family._id, 'payments']"
        >
          <div class="menu-item">
            <mat-icon class="menu-item__icon">payment</mat-icon>
            <div>Family payments</div>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a
          mat-button
          class="mat-button_stretched nav-block__link"
          routerLinkActive="nav-block__link_active"
          routerLink="/families/{{ family._id }}/reports"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="menu-item">
            <mat-icon class="menu-item__icon">insert_chart</mat-icon>
            <div>Family reports</div>
          </div>
        </a>
      </mat-list-item>
    </mat-list>
  </shared-accordion>
</ng-container>
<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>
