@import 'theme';

.user-menu {
  padding: 4px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.user-menu:hover {
  border-color: rgba(mat-color($angular-material-primary, 100), 0.3);
}

.user-name {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: bold;
  max-width: 12ch;
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.arrow-icon {
  padding: 5px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  margin: 5px;
  border: 1px solid mat-color($angular-material-primary, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  color: mat-color($angular-material-primary, 400);
}

.arrow-icon__icon {
  height: 12px;
  width: 17px;
  font-size: 15px;
}
