<mat-card class="card">
  <mat-card-header class="card__header">
    <div class="card__avatar-holder">
      <img
        class="card__avatar"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      />
    </div>
    <div class="member-actions">
      <button mat-icon-button class="mat-icon-button_dimmed">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="mat-icon-button_dimmed">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="card__content">
    <div class="card__title">{{ member.lastName }} {{ member.firstName }}</div>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="button_rounded button_sm"
        *ngFor="let role of member.roles"
      >
        {{ role }}
      </button>
    </div>

    <div class="payment-statistics">
      <div class="payment-statistics__item">
        <div class="payment-statistics__title">Spent</div>
        <div class="payment-statistics_value">₪300</div>
      </div>
      <div class="payment-statistics__item">
        <div class="payment-statistics__title">Indebted</div>
        <div class="payment-statistics_value">₪300</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="card__footer">
    <a mat-raised-button color="primary">Payments</a>
    <a mat-raised-button color="primary">Reports</a>
  </mat-card-actions>
</mat-card>
