.payment-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}

.payment-statistics__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 10px;
  width: calc(50% - 20px);
  border: 1px solid;
  border-top: none;
  border-bottom: none;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.payment-statistics__title {
  padding: 5px;
}
.payment-statistics_value {
  padding: 5px;
}

.member-actions {
  position: absolute;
  right: 0;
}
