<!--
  family's
    - payments (filtering by subject and payer)
    - reports (total payment amount per selected period with charts and etc.)
    - members with spent amount per selected period
  my
    - payments (filtering by subject)
    - reports (total payment amount per selected period)
 -->
<div class="side-nav">
  <family-family-manager></family-family-manager>
  <shared-accordion toggleLabel="User">
    <mat-list role="list" class="nav-block__list">
      <mat-list-item role="listitem" class="nav-item">
        <family-new-family class="nav-item__link">
          <button mat-button class="mat-button_stretched">New family</button>
        </family-new-family>
      </mat-list-item>
    </mat-list>
  </shared-accordion>
</div>
