<div class="side-nav">
  <navigation-side-nav-block blockLabel="Payments" class="nav-block">
    <mat-list role="list" class="nav-block__list" (click)="onLinkClick()">
      <mat-list-item role="listitem" class="nav-item">
        <a
          mat-button
          class="button_stretched nav-item__link"
          routerLink="payments"
        >
          All payments
        </a>
      </mat-list-item>
      <mat-list-item role="listitem" class="nav-item">
        <payment-new-payment class="nav-item__link">
          <button mat-button class="button_stretched">New payment</button>
        </payment-new-payment>
      </mat-list-item>
    </mat-list>
  </navigation-side-nav-block>
  <navigation-side-nav-block blockLabel="Families">
    <mat-list role="list" class="nav-block__list" (click)="onLinkClick()">
      <mat-list-item role="listitem">
        <a mat-button class="button button_stretched" routerLink="families">
          My families
        </a>
      </mat-list-item>
      <mat-list-item role="listitem" class="nav-item">
        <family-new-family class="nav-item__link">
          <button mat-button class="button_stretched">New family</button>
        </family-new-family>
      </mat-list-item>
    </mat-list>
  </navigation-side-nav-block>
</div>
