<!--
  family's
    - payments (filtering by subject and payer)
    - reports (total payment amount per selected period with charts and etc.)
    - members with spent amount per selected period
  my
    - payments (filtering by subject)
    - reports (total payment amount per selected period)
 -->
<div class="side-nav">
  <ng-container *ngIf="isAuthenticated | async; else unauthenticatedUserMenu">
    <nav-side-nav-authenticated-user></nav-side-nav-authenticated-user>
  </ng-container>
</div>

<ng-template #unauthenticatedUserMenu>
  <nav-side-nav-unauthenticated-user></nav-side-nav-unauthenticated-user>
</ng-template>
