<div class="family-form">
  <h1 mat-dialog-title>
    Add new family member
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="memberForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label>Member's email</mat-label>
        <input
          type="text"
          required
          matInput
          formControlName="email"
          #emailField
        />
        <mat-error *ngIf="memberForm.get('email').hasError('pattern')">
          Invalid email
        </mat-error>
        <mat-error *ngIf="memberForm.get('email').hasError('server-error')">
          {{ memberForm.get('email').getError('server-error') }}
        </mat-error>
      </mat-form-field>
      <member-member-roles
        [familyId]="data.family._id"
        sectionTitle="Member roles in the family"
        (rolesUpdated)="onRoleChanged($event)"
        (initialized)="onRolesLoad()"
      ></member-member-roles>
      <member-members-payment-percentage
        *ngIf="!data.family.equalPayments"
        class="members-payment-percentage"
        [familyId]="data.family._id"
        [newFamilyMember]="true"
        (valueUpdated)="onPercentagesSet($event)"
      ></member-members-payment-percentage>
      <div
        sharedNotificationBlock="error"
        *ngIf="rolesLoaded && memberForm.get('roles').hasError('required')"
      >
        Select at least one role for new member
      </div>
      <div sharedNotificationBlock="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <shared-content-with-loader [showLoader]="submittingForm">
        <button
          mat-raised-button
          class="button"
          color="accent"
          type="submit"
          [disabled]="!memberForm.valid || !rolesLoaded"
        >
          Add
        </button>
      </shared-content-with-loader>
    </form>
  </div>
</div>
