<!--
  - banner with registration link
  - create family
  - add family members
  - submit payments
  - track your money payments
  - footer
-->
<div class="home-page">
  <home-registration-banner></home-registration-banner>
  <div class="section">
    <div class="icon">
      <a
        class="icon__link"
        href="https://www.freepik.com/free-photos-vectors/people"
        target="_blank"
      >
        <img class="icon__image" src="assets/images/family.jpg" />
      </a>
    </div>
    <div class="section__content">
      <h2>Create family and add all your family members</h2>
      <button
        familyNewFamily
        mat-raised-button
        class="button button_lg text-uppercase"
        color="primary"
      >
        New family
      </button>
    </div>
  </div>
</div>
