@import 'palette';

.banner {
  min-height: 200px;
  padding: 40px;
  border-radius: 16px;
  background-color: #6697ff;
  background-image: url('/assets/images/background-2.jpg');
  background-size: cover;
  line-height: normal;
}

.action-link {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.content {
  padding: 10px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.feature {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 300px;
  min-height: 90px;
}

.feature:last-child {
  margin-right: 0;
}

.feature__icon {
  display: block;
  font-size: 35px;
  height: 35px;
  width: 35px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: $accent;
  padding: 10px;
}

.video-preview {
  max-width: 100%;
}

@media (min-width: 600px) {
  .action-link {
    margin-top: 20px;
    line-height: 50px;
    font-size: 20px;
  }

  .content {
    padding: 20px;
  }

  .banner {
    line-height: 32px;
  }
}

@media (min-width: 960px) {
  .features {
    flex-direction: row;
  }
  .feature {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .feature {
    flex-direction: row;
  }

  .feature__icon {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
