<!--
  - banner with registration link
  - create family
  - add family members
  - submit payments
  - track your money payments
  - footer
-->
<div class="home-page">
  <app-home-page-registration-banner></app-home-page-registration-banner>
  <app-home-page-section
    iconLink="https://www.freepik.com/free-photos-vectors/people"
    iconImagePath="assets/images/family.jpg"
    title="Create family and add all your family members"
    buttonLabel="Create family"
    buttonClasses="button button_lg text-uppercase"
    (clickAction)="createFamily()"
  ></app-home-page-section>
  <app-home-page-section
    iconLink="https://www.freepik.com/free-photos-vectors/banner"
    iconImagePath="assets/images/payment.jpg"
    title="Submit your payments in seconds"
    classes="reversed"
    buttonLabel="Create payment"
    buttonClasses="button button_lg text-uppercase"
    (clickAction)="createPayment()"
  ></app-home-page-section>
  <app-home-page-section
    iconLink="https://www.freepik.com/free-photos-vectors/background"
    iconImagePath="assets/images/planning.jpg"
    title="Analyze your expenses and plan financial future"
    buttonLabel="Create expenses report"
    buttonClasses="button button_lg text-uppercase"
    (clickAction)="createReport()"
  ></app-home-page-section>
</div>
