<div
  class="email-verification-request"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h1>Activate your account</h1>
  <mat-icon class="icon">assignment_ind</mat-icon>
  <ng-container *ngIf="!sendingEmail; else loading">
    <div *ngIf="!attempts" sharedNotificationBlock="success">
      <div>
        <span>
          Activate your account by verifying your email using link that has been
          sent to email
        </span>
        <b>{{ email }}</b>
        <span>.</span>
        <br />
        <span>
          If you do not receive the confirmation message within a few minutes of
          signing up, please check your Spam or Bulk E-Mail folder just in case
          the confirmation email got delivered there instead of your inbox.
        </span>
      </div>
    </div>
    <div *ngIf="attempts" sharedNotificationBlock="success">
      <div>
        <span>
          Email with link to verify your email has been sent to email
        </span>
        <b>{{ email }}</b>
        <span>.</span>
        <br />
        <span>
          If you do not receive the confirmation message within a few minutes of
          signing up, please check your Spam or Bulk E-Mail folder just in case
          the confirmation email got delivered there instead of your inbox.
        </span>
      </div>
    </div>
    <div
      *ngIf="!showContactUsMessage && errorMessage"
      sharedNotificationBlock="error"
    >
      {{ errorMessage }}
    </div>
    <div *ngIf="showContactUsMessage" sharedNotificationBlock="error">
      If you still have not received email, contact us at
      <a href="mailto: {{ supportEmail }}">{{ supportEmail }}</a>
    </div>
  </ng-container>
  <ng-template #loading>
    <shared-loader></shared-loader>
  </ng-template>
  <button
    mat-raised-button
    class="clicky"
    color="accent"
    *ngIf="allowResendEmailVerificationEmail"
    (click)="sendEmailAgain()"
  >
    Send email again
  </button>
</div>
