<div class="main-menu" fxLayout fxShow fxHide.xs fxLayoutAlign="end">
  <button mat-button [matMenuTriggerFor]="payments">Payments</button>
  <button mat-button [matMenuTriggerFor]="families">Families</button>
  <mat-menu #payments="matMenu">
    <div mat-menu-item class="menu-item-block">
      <payment-new-payment>
        <div class="menu-item-block__label">New payment</div>
      </payment-new-payment>
    </div>
    <a mat-menu-item routerLink="payments" class="menu-item-link"
      >All payments</a
    >
  </mat-menu>
  <mat-menu #families="matMenu">
    <div mat-menu-item class="menu-item-block">
      <family-new-family>
        <div class="menu-item-block__label">New family</div>
      </family-new-family>
    </div>
    <button mat-menu-item>All my families</button>
  </mat-menu>
</div>
