<div *ngIf="!!family" class="family">
  <div class="family-card">
    <shared-image-with-preview
      [imageUrl]="family.icon"
      (selectedImage)="familyIconLoaded($event)"
    ></shared-image-with-preview>
    <div class="family-info">
      <div class="family-info__name" fxLayoutAlign="start center">
        <div
          fxLayoutAlign="start center"
          *ngIf="!displayNameEditor"
          (click)="toggleNameEditor()"
        >
          <span class="text text_ellipsis text_clickable">
            Family {{ family.name }}
          </span>
          <button mat-icon-button class="mat-icon-button_dimmed">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <shared-value-editor
          *ngIf="displayNameEditor"
          [value]="family.name"
          (valueSubmitted)="updatedFamilyName($event)"
        ></shared-value-editor>
        <button
          *ngIf="displayNameEditor"
          mat-icon-button
          class="mat-icon-button_dimmed"
          (click)="toggleNameEditor()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="family-info__members-count">
        {{ family.membersCount }}
        {{ family.membersCount === 1 ? 'member' : 'members' }}
      </div>
    </div>
    <div class="family-card__actions">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div mat-menu-item>
          <family-family-editor
            [family]="family"
            title="Edit family information"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit family</span>
          </family-family-editor>
        </div>
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Add member</span>
        </button>
        <button mat-menu-item (click)="removeFamily()">
          <mat-icon>clear</mat-icon>
          <span>Delete family</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
