.members-roles {
  display: block;
  margin: 16px 0;
}

.member-roles-list__role {
  display: block;
  width: calc(100% - 20px);
  min-height: 100px;
  margin: 0 10px 10px 0;
}

@media (min-width: 768px) {
  .member-roles-list__role {
    width: calc(50% - 20px);
  }
}
