<mat-toolbar class="main-nav" color="primary">
  <mat-toolbar-row>
    <navigation-main-nav-logo></navigation-main-nav-logo>
    <div
      class="main-menu"
      fxLayoutAlign="end center"
      *ngIf="type === 'menu-bar'"
    >
      <div class="menu-toggle" fxHide.gt-xs>
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <navigation-main-menu></navigation-main-menu>
      <navigation-user-menu fxShow fxHide.xs></navigation-user-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<navigation-side-nav
  (hideSidebar)="hideSidenav()"
  *ngIf="type === 'side-bar'"
></navigation-side-nav>
