<ng-container *ngIf="dataSource?.data; else loading">
  <ng-container *ngIf="dataSource?.data?.length; else noData">
    <ng-container>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        [matSortDisableClear]="true"
        (matSortChange)="sortData($event)"
      >
        <ng-container matColumnDef="amount">
          <th mat-sort-header="amount" mat-header-cell *matHeaderCellDef>
            Amount
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.amount | sharedPrefixedNumber: currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="subject">
          <th mat-sort-header="subject" mat-header-cell *matHeaderCellDef>
            Subject
          </th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="center center">
              <img
                class="subject__icon"
                [src]="element.subject.icon"
                [alt]="'payment subject ' + element.subject.name"
                [matTooltip]="element.subject.name"
              />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="member">
          <th mat-sort-header="member" mat-header-cell *matHeaderCellDef>
            Member
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.member | sharedUserFullName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="paidAt">
          <th mat-sort-header="paidAt" mat-header-cell *matHeaderCellDef>
            Payment Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paidAt | date: 'short' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell="actions" *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [paymentViewFamilyPayment]="element"
              [familyId]="familyId"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              [paymentDeleteFamilyPaymentDialogTrigger]="element._id"
              [familyId]="element.familyId"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container
          *ngIf="displayedColumns.indexOf('actions') === -1; else actions"
        >
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [paymentViewFamilyPayment]="row"
            [familyId]="familyId"
            class="payment"
          ></tr>
        </ng-container>
        <ng-template #actions>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="payment"
          ></tr>
        </ng-template>
      </table>
    </ng-container>

    <mat-paginator
      *ngIf="payments.length > 10"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 100]"
    ></mat-paginator>
  </ng-container>
</ng-container>
<ng-template #noData>
  <div fxLayoutAlign="center center">No payments yet...</div>
</ng-template>

<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>
