.loader {
  position: absolute;
  right: -10px;
  transform: translateX(100%);
}

.block_relative {
  position: relative;
}

:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  position: relative;
  align-items: center;
}
