@import "variables";
@mixin create-key-frame-move-in($direction) {
  $transform-percentage: 0;
  @if ($direction == "left") {
    $transform-percentage: -100%;
  } @else {
    $transform-percentage: 100%;
  }
  @keyframes move-in-#{$direction} {
    from {
      transform: translateX(#{$transform-percentage});
    }
    to {
      transform: translateX(0);
    }
  }
}
@include create-key-frame-move-in("left");
@include create-key-frame-move-in("right");

@mixin add-animation($left, $keyframe) {
  &.animated {
    visibility: visible;
    animation-name: $keyframe;
    animation-duration: 0.5s;
  }
}

.home-page-section {
  $section-padding: 20px;
  font-family: $secondary-font-family;
  padding: $section-padding;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .section-image {
    flex-basis: 100%;
    visibility: hidden;
    @include add-animation(-100%, move-in-left);

    a {
      display: block;
      height: 160px;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .action-block {
    flex-basis: 100%;
    @include add-animation(-100%, move-in-right);
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .section-image {
      flex-basis: 40%;

      img {
        width: 100%;
      }
    }
    .action-block {
      flex-basis: 60%;
    }
    &.reversed {
      flex-direction: row-reverse;
      .section-image {
        @include add-animation(100%, move-in-right);
      }
      .action-block {
        @include add-animation(100%, move-in-left);
      }
    }
  }
}
