<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    role="navigation"
    [opened]="isOpened()"
    [mode]="getMode()"
    class="block__child_scrollable"
  >
    <nav-side-nav-toolbar></nav-side-nav-toolbar>
    <nav-side-nav></nav-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="content block_scrollable">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="pageIsLoading">
    </mat-progress-bar>
    <nav-main-toolbar (toggleNavbar)="sidenav.toggle()"></nav-main-toolbar>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
