<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    role="navigation"
    [opened]="isOpened()"
    [mode]="getMode()"
    class="block__child_scrollable"
  >
    <navigation-side-nav-toolbar></navigation-side-nav-toolbar>
    <navigation-side-nav></navigation-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="block_scrollable">
    <navigation-main-toolbar
      (toggleNavbar)="sidenav.toggle()"
    ></navigation-main-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
