@import 'variables';

.mat-sidenav-container {
  height: 100%;
}
.mat-sidenav {
  width: $sidenav-width;
}

.content {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 20px;
  flex: 1 1 auto;
}
