@import "variables";
.main-nav {
  font-family: "Indie Flower", cursive;
  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    img {
      height: 35px;
    }
  }
}
