<mat-form-field appearance="outline" class="payment-subject-field">
  <mat-label>{{ selectorLabel }}</mat-label>
  <mat-select
    [required]="required"
    [formControl]="selectedSubject"
    [value]="defaultSubjectId"
  >
    <mat-option [value]="null">Any subject</mat-option>
    <mat-option *ngFor="let subject of subjects" [value]="subject._id">
      <shared-payment-subject
        [paymentSubject]="subject"
      ></shared-payment-subject>
    </mat-option>
  </mat-select>
</mat-form-field>
