@import "variables";

$max-dot-size: 100px;
$dot-margin-left: 10px;
$timeline-line-width: 5px;

.styled-timeline {
  font-family: $main-font-family;

  &:not(.mobile) {
    padding: 50px 20px;
  }

  &.mobile {
    padding-right: 20px;
    ::ng-deep .mgl-timeline-line {
      left: $dot-margin-left + $max-dot-size / 2 - $timeline-line-width / 2;
    }
  }
  ::ng-deep .mgl-timeline-line {
    width: $timeline-line-width;
    background-color: #c5cae9;
  }

  mgl-timeline-entry {
    mgl-timeline-entry-header {
      cursor: pointer;
      padding: 16px;

      .payment-payer {
        padding: 5px;
      }
      .timeline-total {
        padding: 5px;
      }
    }
    &.expanded {
      mgl-timeline-entry-header {
        color: white;
      }
    }

    .timeline-dot-content {
      display: flex;
      color: white;
      align-items: center;
      height: 100%;
      justify-content: center;
      cursor: pointer;
    }

    .payment-info {
      .payment-receipt {
        display: flex;
        justify-content: center;

        img {
          max-height: 400px;
          max-width: 100%;
        }
      }
      .payment-date-info {
        padding: 10px;

        .payment-created-date {
          color: #bdbdbd;
          font-style: italic;
          font-weight: 100;
          font-size: 80%;
          text-align: right;
          margin: 5px;
        }
        .payment-updated-date {
          @extend .payment-created-date;
          margin-right: 0;
        }
      }
    }
    .timeline-extra-info {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      &.primary {
        background-color: #2196f3;
      }
      &.accent {
        background-color: #ff4081;
      }

      .action-buttons {
        margin-left: 10px;
        button {
          line-height: 30px;
          width: 30px;
          height: 30px;
          mat-icon {
            font-size: 18px;
          }
        }
      }
    }

    &.alternate {
      .timeline-extra-info {
        left: unset;
        right: 0;
      }
    }

    &.mobile {
      margin-left: $dot-margin-left + $max-dot-size / 2;
      width: calc(100% - #{$dot-margin-left + $max-dot-size / 2});

      .timeline-extra-info {
        left: unset;
        right: 0;
      }
    }

    &.total-payment {
      .payer-total-payment-amount {
        margin: 5px 0;
      }
    }
  }
}
