@import 'theme';

.icon {
  height: 200px;
  width: auto;
}

.signin-form {
  width: 100%;
  max-width: 500px;
}

.account-note {
  margin: 5px 0 15px 0;
}

.account-note__text,
.account-note__link {
  display: inline-block;
}

.action-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.password-hints {
  margin-bottom: 15px;
}

.password-hint {
  color: mat-color($angular-material-primary, darker);
  margin-bottom: 5px;
}

.password-hint:last-child {
  margin-bottom: 0;
}

.password-hint::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 2px;
  background: mat-color($angular-material-primary, darker);
}

.password-hint_shadowed {
  color: mat-color($angular-material-primary, lighter);
  text-decoration: line-through;
}

.password-hint_shadowed::before {
  background: mat-color($angular-material-primary, lighter);
}

.privacy-policy-note {
  margin: 10px 0;
  text-align: center;
}

.account-note {
  text-align: center;
}

.account-note__link {
  display: inline-block;
  margin: 0 5px;
}

.signin-form__description {
  max-width: 500px;
  width: 80%;
  text-align: center;
  padding: 16px;
}
