<div class="image-manager">
  <shared-close-dialog-button></shared-close-dialog-button>
  <div class="mat-h1">Image selector</div>
  <shared-loader *ngIf="!cropperIsReady"></shared-loader>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1"
    [resizeToWidth]="300"
    format="png"
    cdkFocusInitial
    (imageCropped)="imageCropped($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <div *ngIf="hasLoadingError" sharedNotificationBlock="error">
    Failed to load selected file. Only .jpeg and .png are supported.
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="file-loader" class="image-manager__controller">
      <input
        class="file-loader__input"
        type="file"
        (change)="onFileChange($event)"
        accept="image/png, image/jpeg"
        #file
      />
      <button mat-raised-button color="primary" (click)="file.click()">
        Load image
      </button>
    </div>
    <button
      class="image-manager__controller"
      mat-raised-button
      color="primary"
      [disabled]="!croppedImage"
      (click)="saveChanges()"
    >
      Select image
    </button>
  </div>
</div>
