<family-family-form [familyForm]="form" (formSubmitted)="submitForm()">
  <mat-checkbox [formControl]="form.get('equalPayments')">
    All adult members pay equally
  </mat-checkbox>
  <member-members-payment-percentage
    *ngIf="!form.get('equalPayments').value"
    class="members-payment-percentage"
    [familyId]="family._id"
    (valueUpdated)="onPercentagesSet($event)"
  ></member-members-payment-percentage>
  <div sharedNotificationBlock="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</family-family-form>
