.family-form__avatar-preview {
  margin-bottom: 16px;
  display: block;
}

.members-payment-percentage {
  display: block;
  margin: 16px 0;
}

.family-form__currency {
  margin-bottom: 10px !important;
}
