<div class="family-form">
  <h1 mat-dialog-title>
    Family
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="familyForm" (ngSubmit)="submitForm()">
      <shared-image-with-preview
        class="family-form__avatar-preview"
        [imageUrl]="familyForm.get('icon').value"
        (selectedImage)="familyIconLoaded($event)"
      ></shared-image-with-preview>
      <mat-form-field appearance="outline">
        <mat-label>Family name</mat-label>
        <input type="text" required matInput formControlName="name" />
        <mat-error *ngIf="familyForm.get('name').hasError('required')">
          Required field
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button class="button" color="accent" type="submit">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
