<div class="family-form">
  <h1 mat-dialog-title>
    Family
  </h1>
  <div *ngIf="!!familyForm">
    <form [formGroup]="familyForm" (ngSubmit)="submitForm()">
      <shared-image-with-preview
        class="family-form__avatar-preview"
        [imageUrl]="familyForm.get('icon').value"
        (selectedImage)="familyIconLoaded($event)"
      ></shared-image-with-preview>
      <mat-form-field appearance="outline">
        <mat-label>Family name</mat-label>
        <input type="text" required matInput formControlName="name" />
        <mat-error *ngIf="familyName.hasError('required')">
          Select family name
        </mat-error>
        <mat-error *ngIf="familyName.hasError('minlength')">
          Name is too short
        </mat-error>
        <mat-error *ngIf="familyName.hasError('maxlength')">
          Name is too long
        </mat-error>
        <mat-error *ngIf="familyName.hasError('pattern')">
          Name must have only letters, spaces or dashes
        </mat-error>
      </mat-form-field>
      <div
        fxLayout.gt-sm="row"
        fxLayout="column"
        fxLayoutGap.gt-sm="10px grid"
        class="family-form__currency"
      >
        <shared-currency-selector
          fxFlex="100"
          fxFlex.gt-sm="60"
          [defaultCurrency]="familyForm.get('currency').value"
          selectorLabel="Family currency"
          [required]="true"
          (currencySelected)="onCurrencySelected($event)"
        ></shared-currency-selector>
        <mat-form-field
          appearance="outline"
          *ngIf="displayExchangeRate"
          fxFlex="100"
          fxFlex.gt-sm="40"
        >
          <mat-label>Exchange rate</mat-label>
          <input
            type="number"
            required
            matInput
            formControlName="exchangeRate"
          />
          <mat-error
            *ngIf="familyForm.get('exchangeRate').hasError('required')"
          >
            Exchange rate is required
          </mat-error>
          <mat-hint>
            Set exchange rate to update all already added payments' amount
            values
          </mat-hint>
        </mat-form-field>
      </div>
      <ng-content></ng-content>
      <div sharedNotificationBlock="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="action-buttons" fxLayout="row" fxLayoutAlign="center">
        <shared-content-with-loader [showLoader]="submittingForm">
          <button mat-raised-button class="button" color="accent" type="submit">
            Save
          </button>
        </shared-content-with-loader>
      </div>
    </form>
  </div>
</div>
