<div class="payments-timeline">
  <app-payment-timeline-entry
    class="payment"
    *ngFor="let payment of payments | keyvalue: orderByKey('paidAt')"
    [payment]="payment.value"
    [member]="transformedMembers[payment.value.memberId]"
    [paymentSubject]="paymentSubjects[payment.value.subjectId]"
    (editPayment)="editPayment(payment.value)"
    (removePayment)="removePayment(payment.value)"
    [classes]="getPaymentClasses(payment.value)"
  >
  </app-payment-timeline-entry>
  <app-total-payment-entry
    class="total-payment-amount"
    [paymentAmounts]="paymentAmounts"
    [members]="members"
    [date]="totalCalculatedAt"
    (calcDischargedTotal)="calcDischargedTotal()"
    (showTotalAmounts)="calculateTotal()"
  ></app-total-payment-entry>
</div>
