@import "variables";
@import "timeline-variables";

.total-payment-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $timeline-width;
  margin: $timeline-top-bottom-margin $timeline-left-right-margin;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px;
      .total-icon {
        display: block;
        height: 30px;
        width: auto;
      }
      shared-money-amount {
        margin-right: 5px;
      }
    }
  }
  &-content {
    padding: 10px 16px;
    .total-payment-content-info {
      width: 100%;
      margin: 5px 0;
    }

    .payer-total-payment-amount {
      margin: 5px 0;
    }
  }
}
