.payment-form {
  .mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .mat-form-field {
    width: 100%;

    .currency-icon {
      margin-left: 5px;
    }
  }
}
