.payment-form {
  ::ng-deep .mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;

      .currency-icon {
        margin-left: 5px;
      }
    }
  }
}
