<div class="payment-form">
  <h1 mat-dialog-title>
    Payment by
    <app-member-payment-timeline
      [member]="currentMember"
    ></app-member-payment-timeline>
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="paymentForm">
      <mat-form-field>
        <mat-label>Date of payment</mat-label>
        <input
          formControlName="paidAt"
          matInput
          required
          [matDatepicker]="picker"
          placeholder="Choose a date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="payment-subject-field">
        <mat-label>Subject of payment</mat-label>
        <button mat-icon-button matSuffix title="Add new payment subject">
          <mat-icon
            aria-label="Add new payment subject"
            (click)="newPaymentSubject($event)"
            >add_circle_outline</mat-icon
          >
        </button>
        <mat-select
          required
          class="payment-subject-select"
          formControlName="subjectId"
        >
          <mat-option
            *ngFor="let subject of paymentSubjects | keyvalue"
            [value]="subject.value._id"
          >
            {{ subject.value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <span matSuffix class="currency-icon">₪</span>
        <input type="number" required matInput formControlName="amount" />
      </mat-form-field>
      <!-- <div>
        <mat-label>Receipt</mat-label>
        <input type="file" (change)="onFileChange($event)" />
      </div> -->
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="cancel()">
      <mat-icon>clear</mat-icon>Cancel
    </button>
    <button mat-raised-button color="primary" (click)="savePayment()">
      <mat-icon>done</mat-icon> Save
    </button>
  </div>
</div>
