<h1>About us</h1>
<p>
  <b>Family Expenses</b> is a website to organize personal and family finances
  and to keep track of where and when the money goes.
</p>
<div class="functionalities">
  <h2>Family Expenses allows:</h2>
  <div class="functionalities__functionality">Setup profile</div>
  <div class="functionalities__functionality">Add, edit and remove family</div>
  <div class="functionalities__functionality">
    Add other Family Expenses users to become family members with assigned roles
  </div>
  <div class="functionalities__functionality">
    Add, edit and remove personal payments
  </div>
  <div class="functionalities__functionality">
    Add, edit and remove family payments
  </div>
</div>
<p>
  <b>Family Expenses</b> staff is working on providing more functionalities to
  our website to improve users' experience and is open to any suggestions. Get
  in touch by submitting "Contact us" form or by emailing directly to
  <b><a href="mailto: orly.knop@gmail.com">orly.knop@gmail.com</a></b>
</p>
