.icon {
  height: 200px;
  width: auto;
}

.login-form {
  width: 100%;
  max-width: 500px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.account-note {
  margin: 5px 0 15px 0;
  text-align: center;
}

.account-note__link {
  margin: 0 5px;
  display: inline-block;
}

.mat-form-field {
  width: 500px;
  max-width: 80%;
}
