<div fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-h1">
    Log In
  </div>
  <div
    class="full-width"
    fxLayout="column"
    fxLayout.lt-sm="column"
    fxLayoutAlign="center center"
  >
    <a href="https://www.freepik.com/free-photos-vectors/computer">
      <img class="icon" src="/assets/images/form.jpg" />
    </a>
    <div class="account-note">
      <span class="account-note__text">Need a Money Manager account?</span>
      <a class="account-note__link" [routerLink]="['/auth/register']">
        Create an account
      </a>
    </div>
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div *ngIf="serverError" sharedNotificationBlock="error">
        {{ serverError }}
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          required
          formControlName="email"
          type="email"
          matInput
          name="email"
        />
        <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
          Invalid email
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="showPassword = !showPassword"
          attr.aria-label="Hide password"
          attr.aria-pressed="hide"
        >
          <mat-icon>
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
        <mat-label>Password</mat-label>
        <input
          required
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          matInput
          name="password"
        />
        <mat-error *ngIf="password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <shared-content-with-loader
        class="action-buttons"
        [showLoader]="submittingForm"
      >
        <button
          mat-raised-button
          class="button"
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Log In
        </button>
      </shared-content-with-loader>
    </form>
  </div>
</div>
