.mat-raised-button {
  border-radius: 10px;
  min-width: 150px !important;
}

.mat-button {
  &.mat-button_stretched {
    width: 100%;
    text-align: left;
  }

  &.mat-button_text-white {
    color: white;
  }
}

.mat-icon-button {
  &.mat-icon-button_dimmed {
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
