.mat-raised-button {
  &.button {
    border-radius: 0;
  }

  &.button_lg {
    padding: 10px 30px;
    font-size: 18px;
  }
}

.mat-button {
  &.button {
    border-radius: 0;
  }

  &.button_stretch {
    width: 100%;
  }

  &.button_text-left {
    text-align: left;
  }
}
