.mat-raised-button {
  min-width: 150px !important;

  &.button_lg {
    padding: 10px 30px;
    font-size: 18px;
  }

  &.button_rounded {
    border-radius: 36px;
    padding: 4px;
  }

  &.button_sm {
    font-size: 80%;
    line-height: 20px;
  }
}

.mat-button {
  &.mat-button_stretched {
    width: 100%;
    text-align: left;
  }

  &.mat-button_text-white {
    color: white;
  }
}

.mat-icon-button {
  &.mat-icon-button_dimmed {
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
