@import "variables";

$card-avatar-size: 60px;
$card-header-height: 70px;
$card-padding: 16px;

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card-list__card {
  display: block;
  padding: $card-padding;
  width: calc(100% - #{2 * $card-padding});

  @media (min-width: 768px) {
    width: calc(50% - #{2 * $card-padding});
  }

  @media (min-width: 1024px) {
    width: calc(30% - #{2 * $card-padding});
  }
}

.card {
  padding: 0 !important;
  border-radius: 0 !important;
}
.card__title {
  font-size: 20px;
  margin: 10px 0;
}
.card__avatar-holder {
  background: #ffffff;
  padding: 5px;
  height: $card-avatar-size;
  width: $card-avatar-size;
  position: absolute;
  top: 90%;
  left: $card-padding;
  transform: translateY(-50%);
  border-radius: 50%;
}

.card__avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.card__avatar_with-preview {
  .shade {
    display: none;
  }

  &:hover {
    cursor: pointer;
    .shade {
      display: flex;
    }
  }
}
.avatar__preview-icon {
  font-size: 30px;
  color: #ffffff;
}

.card__header {
  background: url("/assets/images/background-2.jpg");
  background-size: cover;
  height: $card-header-height;
  position: relative;
}

.card__content {
  padding: $card-padding !important;
  margin-top: $card-avatar-size / 2 - $card-avatar-size * 0.1;
}

.card__footer {
  padding: $card-padding / 2 $card-padding !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center;
}
