.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

.block_scrollable,
.block__child_scrollable div {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: #2e6eb7;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #1565c0;
  }
}
