.hidden {
  display: none !important;
}

.shade {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shade_round {
  border-radius: 50%;
}

.text-uppercase {
  text-transform: uppercase;
}

.text_ellipsis {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.text_clickable {
  cursor: pointer;
}

.nav-block__link_active {
  background: rgba(0, 0, 0, 0.1) !important;
}

.full-width {
  width: 100%;
}

.display_block {
  display: block;
}

.small-input.mat-form-field.mat-form-field-appearance-outline {
  &
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  &
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix
    > span.mat-form-field-label-wrapper {
    top: -1.5em !important;
  }

  &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75) !important;
    width: 133.33333% !important;
  }
}
