:host {
  width: 100%;
}

.subject__icon {
  height: 30px;
  display: block;
}

.mat-column-actions {
  min-width: 100px;
}

@media (min-width: 600px) {
  .payment:hover td {
    cursor: pointer;
    background-color: rgba(188, 189, 189, 0.3);
  }
}
