<div *ngIf="payments; else loading">
  <table *ngIf="payments.length; else noData" mat-table [dataSource]="payments">
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ element.amount | currency: element.currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img
            class="subject__icon"
            [src]="element.subjectIcon"
            [matTooltip]="element.subjectName"
          />
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="memberFullName">
      <th mat-header-cell *matHeaderCellDef>Member</th>
      <td mat-cell *matCellDef="let element">
        {{ element.memberFullName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="paidAt">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.paidAt | date: 'short' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: 'short' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Updated</th>
      <td mat-cell *matCellDef="let element">
        {{ element.updatedAt | date: 'short' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ng-template #noData>
  <div fxLayoutAlign="center center">No payments yet...</div>
</ng-template>

<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>
