::ng-deep .payment__amount .mat-form-field-suffix {
  top: 0 !important;
}

.select-option__icon {
  height: 25px;
  margin-right: 5px;
}

.shared-datetime-selector {
  display: block;
}

::ng-deep .shared-content-with-loader div {
  flex-direction: column;

  button {
    margin-bottom: 10px;
  }

  button:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 600px) {
  ::ng-deep .shared-content-with-loader div {
    flex-direction: row;

    button {
      margin-right: 10px;
      margin-bottom: 0;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
