<div class="payment-form">
  <h1 mat-dialog-title>
    Payment
  </h1>
  <ng-container *ngIf="subjects; else loading">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field
        appearance="outline"
        *ngIf="adminView"
        class="payment-payer"
      >
        <mat-label>Payer</mat-label>
        <mat-select
          required
          formControlName="userId"
          [value]="defaultPayer._id"
          name="payment-payer"
        >
          <mat-option *ngFor="let payer of payersList" [value]="payer._id">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              class="select-option"
            >
              <img
                class="select-option__icon"
                [src]="payer | familyMemberIcon"
              />
              <div class="select-option__title">
                {{ payer | sharedUserFullName }}
              </div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of payment</mat-label>
        <input
          formControlName="paidAt"
          matInput
          required
          [matDatepicker]="picker"
          placeholder="Choose a date"
          name="payment-date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="payment-subject-field">
        <mat-label>Subject of payment</mat-label>

        <mat-select
          required
          class="payment-subject-select"
          formControlName="subjectId"
          name="payment-subject"
        >
          <mat-option *ngFor="let subject of subjects" [value]="subject._id">
            <shared-payment-subject
              [paymentSubject]="subject"
            ></shared-payment-subject>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="payment__amount">
        <mat-label>Amount</mat-label>
        <div matSuffix>
          {{ payment.currency | currencySymbol }}
        </div>
        <input
          type="number"
          required
          matInput
          formControlName="amount"
          name="payment-amount"
        />
      </mat-form-field>
      <!-- <div>
        <mat-label>Receipt</mat-label>
        <input type="file" (change)="onFileChange($event)" />
      </div> -->
      <div sharedNotificationBlock="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <shared-content-with-loader [showLoader]="submittingForm">
        <button mat-raised-button class="button" color="primary" type="submit">
          Save
        </button>
      </shared-content-with-loader>
    </form>
  </ng-container>
</div>
<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>
