@import "variables";
@import "timeline-variables";

.payment-timeline-entry {
  //font-family: $main-font-family;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $timeline-width;
  margin: $timeline-top-bottom-margin $timeline-left-right-margin;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .payment-header-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px;

      app-payment-subject {
        margin-right: 5px;
      }
      shared-money-amount {
        margin-right: 5px;
      }
    }
  }
  &-content {
    padding: 10px 16px;
    .payment-content-info {
      width: 100%;
      margin: 5px 0;

      .payment-receipt {
        display: flex;
        justify-content: center;
        margin: 10px;

        img {
          max-height: 400px;
          max-width: 100%;
        }
      }
    }
    .payment-date-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 5px 0;

      .payment-created-date {
        color: #bdbdbd;
        font-style: italic;
        font-weight: 100;
        font-size: 80%;
        text-align: right;
        width: 100%;

        @media (min-width: 400px) and (max-width: 600px), (min-width: 840px) {
          width: fit-content;
          margin-right: 5px;
        }
      }
      .payment-updated-date {
        @extend .payment-created-date;
        margin-right: 0;
      }
    }
  }
}
