<div class="payment-timeline-entry">
  <div class="payment-timeline-entry-header" [ngClass]="classes">
    <div class="payment-header-info">
      <payment-payment-subject
        [paymentSubject]="paymentSubject"
      ></payment-payment-subject>
      <payment-money-amount [amount]="payment.amount"></payment-money-amount>
    </div>
    <div class="action-buttons">
      <button
        mat-icon-button
        (click)="expandEntry()"
        *ngIf="!!payment.receipt"
        title="Look at payment receipt"
      >
        <mat-icon class="detail-button" aria-label="Look at payment receipt">
          {{ !expanded ? "speaker_notes" : "speaker_notes_off" }}
        </mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onEditPayment()"
        title="Edit payment info"
      >
        <mat-icon class="edit-button" aria-label="Edit payment info">
          create
        </mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onRemovePayment()"
        title="Remove payment"
      >
        <mat-icon class="remove-button" aria-label="Remove payment">
          clear
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="payment-timeline-entry-content">
    <div class="payment-content-info">
      <div class="payment-paid-date">
        <span>
          by
          <payment-payer [payer]="payer"></payment-payer>
        </span>
        <br />
        <span> at {{ payment.paidAt | date: "dd.MM.yyyy" }}</span>
      </div>
      <div class="payment-receipt" *ngIf="!!payment.receipt && expanded">
        <img src="{{ payment.receipt }}" />
      </div>
      <div class="payment-date-info">
        <div class="payment-created-date">
          Added at {{ payment.createdAt | date: "HH:mm dd.MM.yyyy" }}
        </div>
        <div
          *ngIf="payment.createdAt != payment.updatedAt"
          class="payment-updated-date"
        >
          Updated at {{ payment.updatedAt | date: "HH:mm dd.MM.yyyy" }}
        </div>
      </div>
    </div>
  </div>
</div>
