<div class="page-content__header">
  <h1>My families</h1>
  <button
    class="button button_lg"
    mat-raised-button
    color="primary"
    familyNewFamily
  >
    Add family
  </button>
</div>
<ng-container *ngIf="families | async as familiesList; else loading">
  <div class="card-list">
    <ng-container *ngIf="familiesList.length; else noFamilies">
      <family-card
        *ngFor="let family of familiesList"
        [family]="family"
      ></family-card>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>
<ng-template #noFamilies>
  <div fxLayoutAlign="center center">No families added yet...</div>
</ng-template>
