@import "variables";
.main-nav {
  font-family: $secondary-font-family;
  .home-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .logo {
      height: 40px;
      display: block;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      transform: rotate(-15deg);
      transform-origin: 50% 50%;
    }
  }

  app-main-menu {
    width: 100%;
    display: none;

    @media (min-width: 600px) {
      display: block;
    }
  }
}
