<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px grid">
  <div
    class="footer-column"
    fxLayout="column"
    [ngStyle.sm]="{ 'margin-bottom.px': 16 }"
  >
    <span class="footer-column__title">Company</span>
    <a class="footer-column__link" routerLink="/about-us">About us</a>
    <a class="footer-column__link" routerLink="/" *ngIf="isDev">Blog</a>
    <a class="footer-column__link" routerLink="/" *ngIf="isDev">News</a>
    <a class="footer-column__link" routerLink="/terms-and-conditions">
      Terms and Conditions
    </a>
  </div>
  <shared-contact-form class="contact-form"></shared-contact-form>
</div>
