<div
  gdAreas="links | form"
  gdAreas.gt-sm="links form"
  gdGap="10px"
  gdRows="auto auto auto"
>
  <div
    gdArea="links"
    fxLayout="column"
    class="footer-column"
    [ngStyle.sm]="{ 'margin-bottom.px': 16 }"
  >
    <span class="footer-column__title">Company</span>
    <a class="footer-column__link" routerLink="/about-us">About us</a>
    <a class="footer-column__link" routerLink="/" *ngIf="isDev">Blog</a>
    <a class="footer-column__link" routerLink="/" *ngIf="isDev">News</a>
    <a class="footer-column__link" routerLink="/terms-and-conditions">
      Terms and Conditions
    </a>
  </div>
  <div gdArea="form">
    <shared-contact-form></shared-contact-form>
  </div>
</div>
