@import 'theme';

:host {
  display: block;
  background-color: mat-color($angular-material-primary);
  padding: 20px;
  color: #ffffff;
}

.footer-column__title {
  font-size: 15px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer-column__link {
  color: mat-color($angular-material-primary, 100);
  margin-bottom: 8px;
  text-decoration: none;
}

.contact-form {
  display: block;
  max-width: 500px;
}

@media (min-width: 960px) {
  .contact-form {
    padding-right: 0 !important;
  }
}
